node_modules
# Keep environment variables out of version control
.env
.envrc


/generated/prisma

/generated/prisma

# Devenv
.devenv*
devenv.local.nix
devenv.local.yaml

# direnv
.direnv

# pre-commit
.pre-commit-config.yaml

# bash 
./testCurl.sh
